.c-section-heading {
  text-align: center;

  & > p {
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-heading);
    color: var(--color-main);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  & > p + * {
    margin-block-start: var(--space-sm);
  }
}
