.c-skip-link {
  padding: var(--space-sm) var(--space-md);
  font-weight: var(--font-weight-heading);
  color: var(--color-surface);
  text-decoration: none;
  background-color: var(--color-main);
  border-radius: var(--radius-sm);
}
