@layer layout {
  .l-grid {
    --_columns: 3;
    --_gap: 1.5rem;

    display: grid;
    grid-template-columns: repeat(var(--_columns), 1fr);
    gap: var(--_gap);

    @media (width < 768px) {
      --_columns: 1;
    }

    @media (768px <= width < 1024px) {
      --_columns: 2;
    }
  }
}
