/* Tokens の数値を rem に変換 */
:root {
  --space-xs: calc(var(--_space-xs) * var(--px));
  --space-sm: calc(var(--_space-sm) * var(--px));
  --space-md: calc(var(--_space-md) * var(--px));
  --space-lg: calc(var(--_space-lg) * var(--px));
  --space-xl: calc(var(--_space-xl) * var(--px));
  --space-2xl: calc(var(--_space-2xl) * var(--px));
  --space-3xl: calc(var(--_space-3xl) * var(--px));
}
