@media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
  .a-fade-in-activate {
    opacity: 0;

    &.is-active {
      opacity: 1;
      animation: fade-in-activate 0.6s var(--ease-out-cubic);
    }
  }

  @keyframes fade-in-activate {
    from {
      opacity: 0;
    }
  }
}
