@layer animation {
  @media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
    .a-fade-in-slide-up {
      opacity: 0;
      translate: 0 20px;

      &.is-active {
        opacity: 1;
        translate: 0 0;
        animation: fade-in-slide-up 0.6s var(--ease-out-cubic);
      }
    }

    @keyframes fade-in-slide-up {
      from {
        opacity: 0;
        translate: 0 20px;
      }
    }
  }
}
