@media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
  [data-animate="fade-in"] {
    opacity: 0;

    &.is-active {
      opacity: 1;
      animation: fade-in 0.6s var(--ease-out-cubic);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
}
