.p-cta__inner { /* l-inner の拡張点 */ }
.p-cta__heading { /* c-section-heading の拡張点 */ }
.p-cta__button { /* c-button-cta の拡張点 */ }

.p-cta {
  text-align: center;
  background-color: var(--color-bg-secondary);
}

.p-cta__text {
  margin-block-start: 1rem;
  color: var(--color-text-light);
  line-height: var(--line-height-base);
}

.p-cta__action {
  margin-block-start: 2rem;
}
