.p-faq { /* extension point */ }
.p-faq__inner { /* extension point */ }
.p-faq__heading { /* extension point */ }

.p-faq__list {
  max-inline-size: 48rem;
  margin-block-start: 2.5rem;
  margin-inline: auto;
}

.p-faq__accordion { /* extension point */ }
