.p-privacy {
  /* CUSTOMIZE */
}

.p-privacy__title {
  margin-block-end: var(--space-lg);
  font-weight: var(--font-weight-heading);
}

.p-privacy__body {
  --_body-max: calc(640 * var(--px));

  max-inline-size: var(--_body-max);
  line-height: var(--line-height-text);

  & h2 {
    margin-block: var(--space-xl) var(--space-sm);
    font-weight: var(--font-weight-heading);
  }

  & p {
    margin-block-end: var(--space-md);
  }

  & ul {
    padding-inline-start: var(--space-lg);
    margin-block-end: var(--space-md);
  }

  & li {
    margin-block-end: var(--space-xs);
  }

  & a {
    color: var(--color-main);
    text-decoration: underline;
    text-underline-offset: 0.2em;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
