.p-problem {
  --section-padding-min: var(--section-narrow-min);
  --section-padding-max: var(--section-narrow-max);

  .p-problem__list {
    display: grid;
    gap: var(--space-lg);

    @media (width >= 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-xl);
    }
  }

  .p-problem__item {
    padding: var(--space-lg);
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-md);
  }

  .p-problem__item-title {
    margin-block-end: var(--space-sm);
  }

  .p-problem__item-text {
    color: var(--color-text-light);
  }
}
