@use '../global' as global;

@layer layout {
  .l-section {
    padding-block: global.clamp-linear(60, 100);
  }

  .l-section__inner {
    max-inline-size: calc(var(--content-width) / 16 * 1rem);
    margin-inline: auto;
    padding-inline: calc(var(--content-padding-inline) / 16 * 1rem);
  }
}
