.c-accordion {
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);

  & + & {
    border-block-start: none;
  }
}

.c-accordion__summary {
  display: flex;
  gap: var(--space-md);
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) var(--space-lg);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-title);
}

.c-accordion__icon {
  flex-shrink: 0;
  transition: rotate 0.3s var(--ease-out-cubic);

  .c-accordion[open] & {
    rotate: 180deg;
  }
}

.c-accordion__content {
  padding: 0 var(--space-lg) var(--space-lg);
  color: var(--color-text-light);
}
