.c-back-to-top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: calc(48 * 1px);
  block-size: calc(48 * 1px);
  font-size: calc(20 * 1px);
  color: var(--color-surface);
  text-decoration: none;
  background-color: var(--color-main);
  border-radius: var(--radius-full);
  transition: background-color 0.2s var(--ease-out-cubic);

  @media (any-hover: hover) {
    &:hover {
      background-color: oklch(from var(--color-main) calc(l * 1.1) c h);
    }
  }
}
