.c-back-to-top {
  --_icon-size: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--size-icon-area);
  block-size: var(--size-icon-area);
  font-size: var(--_icon-size);
  color: var(--color-surface);
  text-decoration: none;
  background-color: var(--color-main);
  border-radius: var(--radius-full);
  transition: background-color var(--duration-fast) var(--ease-out-cubic);

  @media (any-hover: hover) {
    &:hover {
      background-color: oklch(from var(--color-main) calc(l * 1.1) c h);
    }
  }
}
