@layer component {
  .c-badge {
    display: inline-block;
    padding-block: 0.125em;
    padding-inline: 0.625em;
    font-size: 0.75rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    color: var(--color-white);
    background-color: var(--color-main);
    border-radius: 100vmax;

    &.-tokens {
      background-color: var(--color-layer-tokens);
    }

    &.-theme {
      background-color: var(--color-layer-theme);
    }

    &.-foundation {
      background-color: var(--color-layer-foundation);
    }

    &.-layout {
      background-color: var(--color-layer-layout);
    }

    &.-component {
      background-color: var(--color-layer-component);
    }

    &.-project {
      background-color: var(--color-layer-project);
    }

    &.-animation {
      background-color: var(--color-layer-animation);
    }

    &.-utility {
      background-color: var(--color-layer-utility);
    }
  }
}
