.c-button-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.75em;
  padding-inline: 2em;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  background-color: var(--color-main);
  border-radius: 0.5em;
  transition:
    background-color 0.3s var(--ease-out-cubic),
    translate 0.3s var(--ease-out-cubic);

  &:active {
    translate: 0 0;
  }

  &:focus-visible {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px;
  }

  &.-large {
    padding-block: 1em;
    padding-inline: 3em;
    font-size: 1.125rem;
  }

  &.-accent {
    background-color: var(--color-accent);
  }
}

@media (any-hover: hover) {
  .c-button-cta:hover:not(:disabled) {
    background-color: oklch(from var(--color-main) calc(l - 0.05) c h);
    translate: 0 -2px;
  }

  .c-button-cta.-accent:hover:not(:disabled) {
    background-color: oklch(from var(--color-accent) calc(l - 0.05) c h);
  }
}
